html, body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
    background: black;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

li {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
}

img {
    display: block;
    min-height: 30vh;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

a {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 5rem;
    background: #3336;
    text-align: center;
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 4px black;;
}

a[data-disable="true"] {
    display: none;
}